:root {
  --beancoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-black1: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  align-items: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
  width: 151px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header--title-container .header--button {
    position: absolute;
    top: calc(100% - 24px);
	left: calc(50% - 114.5px);
    width: 229px;
    height: 48px;
    border-radius: 4px;
    padding: 15px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./assets/icon/Vector.svg);
}
main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: url(./assets/image/beancoin.svg) center/cover no-repeat;
}
.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black1);
}
.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #6b6b6b;
}
.main-tables-container {
  display: flex;
  height: 300px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.main-currency-table, .main-commission-table {
  width: 70%;
  min-width: 235px;
  max-width: 340px;
  height: 300px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
.main-tables-container .currency-table--title, .main-commission-table .commission-table--title{
  margin-bottom: 13px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: #FF9536;
  padding-left: 35px;
  text-align: left;
}
.main-commission-table .commission-table--title {
  color: var(--secondary-blue);
}
.currency-table--container, .commission-table--container {
  width: 90%;
  min-width: 210px;
  max-width: 300px;
  height: 180px;
  margin: 0 auto;
}
.currency-table--container table, .commission-table--container table {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.currency-table--container td, .commission-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #808080;
  text-align: left;
  background-color: var(--just-white);
  padding: 10px 12px 10px 12px;
}

.currency-table--container .table-right, .commission-table--container .table-right {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: #6b6b6b;
  text-align: center;
}
.currency-table--container .currency-down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background: url(./assets/icon/trending-down.svg) center/cover no-repeat;
}
.currency-table--container .currency-up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background: url(./assets/icon/trending-up.svg) center/cover no-repeat;
}
.currency-table--container .table__top-right, .commission-table--container .table__top-right {
  border-radius: 0px 8px 0 0;
}
.currency-table--container .table__top-left, .commission-table--container .table__top-left {
  border-radius: 8px 0px 0 0;
}
.currency-table--container .table__bottom-left, .commission-table--container .table__bottom-left {
  border-radius: 0px 0px 0 8px;
}
.currency-table--container .table__bottom-right, .commission-table--container .table__bottom-right {
  border-radius: 0px 0px 8px 0 ;
}
.main-currency-table .currency-table--date, .main-commission-table .commission-table--date{
  width: 210px;
  height: 31px;
  display: inline-block;
  align-self: center;
  background-color: var(--soft-orange);
  border-radius: 8px;
  margin: 16px auto 0;
  padding: 8px;
  justify-content: center;
}
.main-commission-table .commission-table--date {
  background-color: var(--soft-blue);
}
.main-currency-table .currency-table--date p, .main-commission-table .commission-table--date p {
  color: var(--warm-black1);
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
}
/* +-- Section change --+*/

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 16px;
  background-color: var(--warm-black);
}
.main-product-detail .product-detail--bean-logo {
  position: absolute;
    width: 40px;
    height: 40px;
    top: calc(0% - 20px);
	  left: calc(50% - 20px);
    background: url(./assets/image/bean1.svg) center/contain no-repeat;
}
.main-product-detail .product-detail--header {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}
.main-product-detail .product-detail--header h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--just-white);
  margin-bottom: 20px;
}
.main-product-detail .product-detail--header p{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
  margin-bottom: 20px;
}
/*Cards*/
.product-cards--container {
  height: max-content;
  width: auto;
  align-items: center;
}
.product-cards--container .product-detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 340px;
  height: 152px;
  margin: 15px auto;
  padding: 15px;
  align-items: center;
  background-color: var(--warm-black1);
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .product--card-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--just-white);
  margin-bottom: 10px;
}
.product-detail--card .product--card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.product-detail--card span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background: none center/cover no-repeat;
}
.product-detail--card .clock {
  background-image: url(./assets/icon/clock.svg);
}
.product-detail--card .eye {
  background-image: url(./assets/icon/eye.svg);
}
.product-detail--card .dollar-sign {
  background-image: url(./assets/icon/dollar-sign.svg);
}
.product-detail--card .check-circle {
  background-image: url(./assets/icon/check-circle.svg);
}
.beancoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background: url(./assets/image/beancoinbaby1x.png) center/cover no-repeat; 
}
.beancoin-img-container h2 {
  padding-top: 65px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-align: center;
  color: var(--just-white);
}
.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding: 65px 0;
  text-align: center;
}
.plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
}
.plans--title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--black);
}
.plans--title p {
  padding-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #6b6b6b;
}
.plans-container--slider {
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.plans-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 65%;
  min-width: 200px;
  max-width: 300px;
  height: 250px;
  margin: 50px 5px 0;
  padding: 0 5px;
  background-color: var(--just-white);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.plans-container--card .recommended {
  position: absolute;
  width: 102px;
  height: 32px;
  top: calc(0% - 16px);
  left: calc(50% - 51px);
  padding: 8px;
  border-radius: 8px;
  background-color: var(--beancoin-orange);
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: var(--just-white);
}
.plans-info-container {
  padding-top: 31px;
}
.plans-info-container .plan-card--title {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #000;
  margin-bottom: 8px;
}
.plans-info-container .plan-card--price {
  font-family: 'Inter', sans-serif;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.3rem;
  color: #000;
  margin-bottom: 16px;
}
.plans-info-container .plan-card--price span {
  vertical-align: 32px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.45rem;
  color: #363636;
}
.plans-info-container .plan-card--saving {
  font-size: 1.2rem;
  line-height: 1.45rem;
  font-weight: 500;
  color: #6b6b6b;
  padding: 0 20px;
  margin-bottom: 16px;
}
.plans-info-container .plan-card--ca {
  width: 150px;
  height: 48px;
  background-color: var(--off-white);
  border-radius: 4px;
  border: 2px solid var(--beancoin-orange) ;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--warm-black);
  font-family: 'DM Sans', sans-serif;
}
.plans-info-container .plan-card--ca span {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(./assets/icon/arrow-right.svg) center/cover no-repeat;
  vertical-align: bottom;
}
footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--beancoin-orange);
}
footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
footer .left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
.left .li {
  margin: 10px 0;
}
.left a {
  text-decoration: none;
  color: var(--just-white);
}
.left a:hover {
  text-decoration: underline;
  color: var(--off-white);
}
footer .right img {
  width: 50px;
  height: 35px;
}